<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.suda.yzune.wakeupschedule">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature
        android:name="android.hardware.faketouch"
        android:required="true" />

    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:allowBackup"
        tools:targetApi="n">
        <activity
            android:label="@string/title_appwidget_style"
            android:name=".schedule_appwidget.WidgetStyleConfigActivity"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize"
            android:excludeFromRecents="true"
            android:theme="@style/AppTheme.Transparent"
            android:launchMode="singleInstance" />
        <activity
            android:name=".suda_life.SudaLifeActivity"
            android:label="@string/title_suda_life" />

        <meta-data
            android:name="CHANNEL"
            android:value="${CHANNEL}" />

        <activity
            android:name=".schedule_import.LoginWebActivity"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize">

            <!-- android:screenOrientation="portrait"> -->
            <intent-filter
                android:label="@string/title_import"
                tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:mimeType="application/octet-stream"
                    android:pathPattern=".*\\.wakeup_schedule" />
            </intent-filter>
            <intent-filter
                android:label="@string/title_import"
                tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:mimeType="text/*"
                    android:pathPattern=".*\\.html" />
            </intent-filter>
            <intent-filter
                android:label="@string/title_import"
                tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:mimeType="text/*"
                    android:pathPattern=".*\\.csv" />
            </intent-filter>
        </activity>
        <activity android:name=".schedule.ScheduleActivity" />
        <activity
            android:name=".course_add.AddCourseActivity"
            android:label="@string/title_add_course" />
        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/title_settings" />
        <activity
            android:name=".settings.TimeSettingsActivity"
            android:label="@string/title_select_time" />

        <receiver
            android:name=".schedule_appwidget.ScheduleAppWidget"
            android:label="@string/title_week_widget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/schedule_app_widget_info" />
        </receiver>

        <service
            android:name=".schedule_appwidget.ScheduleAppWidgetService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
        <service
            android:name=".today_appwidget.TodayColorfulService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <activity
            android:name=".intro.AboutActivity"
            android:label="@string/title_about" />
        <activity
            android:name=".DonateActivity"
            android:label="@string/title_donate" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".schedule_manage.ScheduleManageActivity"
            android:label="@string/title_schedules_management" />
        <activity
            android:name=".schedule_settings.ScheduleSettingsActivity"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize"
            android:label="@string/title_schedule_settings" />
        <activity
            android:name=".schedule_appwidget.WeekScheduleAppWidgetConfigActivity"
            android:label="@string/title_tips">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".today_appwidget.TodayCourseAppWidget"
            android:label="@string/title_day_widget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/today_course_app_widget_info" />
        </receiver>

        <activity
            android:name=".schedule_import.SchoolListActivity"
            android:label="@string/title_select_school"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".settings.AdvancedSettingsActivity"
            android:label="@string/title_advanced_settings" />
        <activity
            android:name=".intro.IntroYoungActivity"
            android:label="咩咩" />
    </application>

</manifest>